/* Залишаємо стилі для головного меню */
body {
    text-align: center;
    font-family: 'Gabarito', cursive;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Займає весь доступний висотний простір екрану */
}

#game-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

#button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#start-button, #settings-button, #exit-button {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

#start-button:hover, #settings-button:hover, #exit-button:hover {
    background-color: #45a049;
}

#start-button:focus, #settings-button:focus, #exit-button:focus {
    outline: none;
}

/* Стилі для ігрового поля та точки */
#game-field {
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    margin-top: 20px;
    position: relative;
    display: flex; /* Додаємо flex-контейнер для центрування */
    justify-content: center; /* Центруємо вміст по горизонталі */
    align-items: center; /* Центруємо вміст по вертикалі */
}

#dot {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 50%;
    position: absolute;
    display: none;
    border: 2px solid white;
}

/* Стилі для елементів ігрового екрану */
#game-screen {
    display: none;
}

#top-block {
    text-align: center;
    padding: 20px;
}

#clickCountDisplay {
    font-size: 24px;
}

#levelDisplay {
    font-size: 24px;
}

#clickCount {
    font-size: 36px;
    font-weight: bold;
}

#progressFill {
    height: 20px;
    background-color: green;
}
